.DS_Store
.env
.env.*
!.env.example

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json

# Ansible
ansible/inventory.ini

# Kubernetes
kubeconfig
*.kubeconfig

# Nycklar
*.pem
*.key
id_rsa*

# Editor
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc
.venv/
venv/
